# 忽略日志和缓存文件
logs/*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.history

# 忽略编辑器生成的临时文件和配置文件
.idea/
.vscode/
package-lock.json
*.sublime-project
*.sublime-workspace

# 忽略编译输出文件和依赖包
dist/
build/
*.tar.gz
*.tgz
node_modules/

config/*.local.*
config/play.yml